body{
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /*background image scroll lock */
    background-position: center;
    height: 100%;
}
.wrapper{
    width: 100%;
    max-width: 1180px;
    padding: 0 10px;
    margin: 100px auto;
}
.banner{
    background-image: url("img/banner.jpg");
    background-size: cover;
    text-indent: -10000px;
    height: 500px;
}
nav{
    height: 50px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px 10px 0px 0px;
}
header nav h3{
    float: left;
    margin:  10px 0px 0px 20px;
    text-transform: capitalize;
}
header nav h3 span{
    
    color: rgb(166, 169, 172);

}
header nav i{
    margin:  0px 10px 0px 0px;
    float: right;
}
.bg-text {
    background-color: rgb(220, 97, 126,0.4); 
    background-image: linear-gradient(to right, rgba(255,0,0,0.5), rgba(235, 144, 100, 0.8));
    color: #ffffff;
    position: relative;
    top: 10%;
    left: 20%;
    text-indent: 0%;
    width: 700px;
    border-radius: 10px;
    text-align: center;
    height: 300px;
    border: 1px solid rgba(0,0,0,0);
    /* padding: 30px; */
  }
  
  .bg-text p{
      font-size: 25px;
  }
  .aws{
      /* margin-top: 100px; */
    font-size: 50px !important; 
}
  .bg-text button{
    height: 40px;
    width: 150px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: large;
    text-transform: capitalize;
    border-radius: 10px;
    

  }
  /* second section */
  .second_section{
    padding: 30px;
    text-align: center;
    height: 400px;
    background-color:#ffffff;
  }
  .second_section span{
      color: #f17c96;
      font-size: 36px;
      font-weight: bold;
  }
  .second_section p{
      color: gray;
      font-size: 25px;
      
  }
 

  .circle{
    margin:10px 50px 10px 50px;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #c2c3c5;
      
  }
  .circle i{
    position: relative;
    bottom: -30px;
    color:  #f17c96;
  }
  .circle_con{
    float: left;
  }
  .circle_con p{
      margin: 0%;
  }
.circle_container{
    padding: 0px 100px 0px;
}



  /* third section */
  .third_section{
    height: 400px;
  }
  .left_section{
    font-weight: lighter;
    float: left;
    color: #ffffff;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255,0,0,0.5), rgba(235, 144, 100, 0.8));

  }
  .left_section p{

        color: #f1f1f1;
      font-size: 25px;
  }
  .left_section button{
    height: 40px;
    width: 100px;
    border: 1px solid #f1f1f1;
    background-color: transparent;
    color: #ffffff;
    font-size: large;
    text-transform: capitalize;
    margin-top: 30px;
    border-radius: 10px;
  }
.right_section{
    background-image: url("img/thirdsection.jpg");
    background-size: cover;
    width: 50%;
    height: 100%;
    text-indent: -10000px;
    opacity: 0.7;
    float: right;
}

.mar{
    margin: 30px;
}

